---

- name: Install/upgrade OS packages
  shell: pkg install -y bash curl git gmake patch rsync sudo zstd pkgconf sqlite3 libedit capnproto gmp libev graphviz

- name: Install Opam
  args:
    chdir: "{{ ansible_env.HOME }}"
  shell: |
      curl https://raw.githubusercontent.com/ocaml/opam/master/shell/install.sh -o install.sh
      chmod +x install.sh
      ./install.sh --download-only
      rm install.sh
      chmod +x opam-*
      mv opam-* /usr/local/bin/opam
      sudo ln /usr/local/bin/opam-2.1 /usr/local/bin/opam
      opam init -y

- name: Remove ~/ocluster
  file:
    path: "{{ ansible_env.HOME }}/ocluster"
    state: absent

- name: Download the source from GitHub
  git:
    repo: https://github.com/ocurrent/ocluster.git
    dest: "{{ ansible_env.HOME }}/ocluster"
    force: yes
    recursive: no
 
- name: Download the source from GitHub
  git:
    repo: https://github.com/ocurrent/obuilder.git
    dest: "{{ ansible_env.HOME }}/ocluster/obuilder"
    force: yes
    recursive: no

- name: Create opam switch
  shell: opam switch create . 4.14.1 --deps-only --with-test --confirm-level=unsafe-yes
  args:
    chdir: "{{ ansible_env.HOME }}/ocluster"

- name: Install missing opam package
  shell: eval $(opam env) && opam install -y md2mld
  args:
    chdir: "{{ ansible_env.HOME }}/ocluster"

- name: Dune build
  shell: eval $(opam env) && dune build --release
  args:
    chdir: "{{ ansible_env.HOME }}/ocluster"

- name: Install to bin folder
  copy:
    src: "{{ ansible_env.HOME }}/ocluster/_build/default/bin/worker.exe"
    dest: /usr/local/bin/worker
    remote_src: yes
    mode: '0755'

- name: create /etc/ocluster
  file:
    path: /etc/ocluster
    state: directory

- name: Copy pool capability
  copy:
    src: "secrets/pool-freebsd-x86_64.cap"
    dest: /etc/ocluster/pool.cap
    mode: '0400'

- name: Create rc.d script
  template:
    src: worker
    dest: /usr/local/etc/rc.d/worker
    mode: '0755'

- name: Create rc.d script
  shell: sysrc worker_enable="YES"

